<img src="/img/home/mountain_smiles.jpg" alt="Team smiles in the mountains" style="width: 100%; background-position: center">
<!-- About Section -->
<section id="about" style="padding-top:60px; padding-bottom:60px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>A Byte About Us</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="row">

      <div class="col-lg-8 col-lg-offset-2 text-center">
        <p>
          We are a group of students who enjoy balancing intense ETH study schedules with sustainable lifestyles.
          We motivate each other in realizing both fun and impactful projects – events and interviews with green ETH spinoffs, divestment campaigns, movie screenings and more.
          We enjoy making the campus we walk on, the courses we are taught and the policies of ETH as an institution more sustainable.
        </p>
      </div>

    </div>
  </div>
</section>
<img src="/img/home/mountain_line.jpg" alt="Team hiking in the mountains" style="width: 100%; background-position: center">
