<!-- Earth Magazine Section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>THE EARTH MAGAZINE</h3>
        <hr class="star-primary">
        <div style="line-height:10px"><br></div>
      </div>
    </div>
    <div class="row" style="display: flex; justify-content: center;">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-6 portfolio-item">
          <a href="/assets/earth_magazine.pdf" class="portfolio-link" target="_blank">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-2x"></i>
              </div>
            </div>
            <img src="/img/progress/earth_magazine.png" class="img-responsive" alt="earth_magazine">
          </a>
        </div>
    </div>
    <div class="row" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.cooperation | sort: 'cooperation-id') %}
          {% for post in sorted_posts %}
            {% if post.modal-id == 'eth_board' %}
              <div class="col-sm-12 portfolio-item">
                <a href="#{{ post.modal-id }}" class="portfolio-link" data-toggle="modal" style="max-width: unset;">
            {% else %}
              <div class="col-sm-4 portfolio-item">
                <a href="#{{ post.modal-id }}" class="portfolio-link" data-toggle="modal">
            {% endif %}
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-2x"></i>
                    </div>
                  </div>
                  <img src="/img/cooperations/{{ post.img }}" class="img-responsive" alt="{{ post.alt }}" style="max-height: 450px; margin: auto;">
                </a>
              </div>
          {% endfor %}
        </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <h4>Who's next? :)</h4>
      </div>
    </div>
  </div>
</section>
