<!-- Events Grid Section -->
<section id="portfolio" style="padding-top:10px">
  <div class="container">
  <div class="row">
    <div class="col-lg-12 text-center">
      <h3>This Semester</h3>
      <hr class="star-primary">
    </div>
  </div>
  <div class="row">
    {% assign sorted_posts = (site.events | sort: 'event-id') %}
    {% for event in sorted_posts reversed %}
      {% unless event.modal-id == 'events_archive'%}
        <div class="col-sm-4 portfolio-item">
          <a href="#{{ event.modal-id }}" class="portfolio-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-2x"></i>
              </div>
            </div>
            <img src="/img/events/{{ event.img }}" class="img-responsive" alt="{{ event.alt }}">
          </a>
        </div>
      {% endunless %}
    {% endfor %}
  </div>
  </div>
</section>

<section class="success" id="portfolio">
  <div class="container">
    <div class="row">
      {% assign sorted_posts = (site.events | sort: 'event-id') %}
      {% for event in sorted_posts %}
        {% if event.modal-id == 'events_archive'%}
          <div class="col-sm-12 portfolio-item">
            <div class="text-center" id="portfolio">
              <a href="#{{ event.modal-id }}" class="btn btn-lg btn-outline" data-toggle="modal">
                {{ event.title }}
              </a>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>
