<!-- Footer -->
<footer class="text-center">
  <div class="footer-above">
    <div class="container">
      <div class="row">
        <div class="footer-col col-md-3">
          <h3><a href="mailto: {{ site.email }}" style="color:white">Contact</a></h3>
        </div>
        <div class="footer-col col-md-3">
          <center><img class="img-responsive" src="/img/ssc_logo.svg" width="100" alt="SSC Logo"></center>
        </div>
        <div class="footer-col col-md-3">
          <center><img class="img-responsive" src="/img/vseth_logo.svg" width="110" alt="SSC Logo"></center>
        </div>
        <div class="footer-col col-md-3">
          <h3><a href="#newsletter" data-toggle="modal" style="color:white">Newsletter</a></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-below">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          Copyright &copy; {{ site.title }} 20{{ site.time | date: '%y' }}
          <div style="line-height:5px"><br></div>
          <a href="/humans.txt"><img src="/img/humanstxt-transparent-color.png" alt="humans.txt logo"></a>
        </div>
      </div>
    </div>
  </div>

</footer>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-top page-scroll visible-xs visible-sm">
  <a class="btn btn-primary" href="#page-top">
    <i class="fa fa-chevron-up"></i>
  </a>
</div>
