<!-- Header -->
<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img class="img-responsive" src="/img/ssc_logo.svg" width="350" alt="SSC Logo">
        <div class="intro-text">
          <span class="title">{{ site.title }}</span>
          <!-- <hr class="star-light">
          <span class="skills">{{ site.skills }}</span> -->
          <ul class="list-inline">
            {% for network in site.social %}
              <li>
                <a href="{{ network.url }}" target="_blank" class="btn-social btn-outline"><i class="fab fa-{{ network.title }}"></i></a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</header>
