 <!-- jQuery Version 1.11.0 -->
  <script src="{{ "/js/jquery-1.11.0.js" }}"></script>

  <!-- Modals as URL -->
  <script src="{{ "/js/modals.js" }}"></script>

  <!-- Bootstrap Core JavaScript -->
  <script src="{{ "/js/bootstrap.min.js" }}"></script>

  <!-- Plugin JavaScript -->
  <script src="{{ "/js/jquery.easing.min.js" }}"></script>
  <script src="{{ "/js/classie.js" }}"></script>
  <script src="{{ "/js/cbpAnimatedHeader.js" }}"></script>

  <!-- Custom Theme JavaScript -->
  <script src="{{ "/js/freelancer.js" }}"></script>

  <!-- Toggle JavaScript -->
  <script src="{{ "/js/toggle.js" }}"></script>
