<!-- Events Modals -->
{% for event in site.events %}
  <div class="portfolio-modal modal fade" id="{{ event.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 style="font-size:2.25em">{{ event.title }}</h2>
              <hr class="star-primary">
              {% if event.img %}
                <img src="/img/events/{{ event.img }}" class="img-responsive img-centered" alt="{{ event.alt }}">
              {% endif %}

              {% if event.description %}
                <p>{{ event.description }}</p>
              {% endif %}

              {% if event.event-id == 0 and  event.modal-id == 'events_archive' %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>Find all our past events <a href="{{ event.link }}" target="_blank">here</a>.</p>
              {% endif %}

              {% if event.content.size > 1 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ event.content }}</p>
              {% endif %}

              {% if event.date_ or event.time or event.location %}
                <hr class="star-primary">
                <ul class="list-inline item-details">
                  {% if event.date_ %}
                    <li>Date:
                      <strong>{{ event.date_ }}</strong>
                    </li>
                  {% endif %}
                  {% if event.time %}
                    <li>Time:
                      <strong>{{ event.time }}</strong>
                    </li>
                  {% endif %}
                  {% if event.location %}
                    <li>Location:
                      <strong>{{ event.location }}</strong>
                    </li>
                  {% endif %}
                </ul>
              {% else %}
                <div style="line-height:20px"><br></div>
              {% endif %}

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
