<!-- Progress Modals -->
{% for progress in site.progress %}
  <div class="portfolio-modal modal fade" id="{{ progress.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 style="font-size:2.25em">{{ progress.title }}</h2>
              <hr class="star-primary">
              {% if progress.img %}
                <img src="/img/progress/{{ progress.img }}" class="img-responsive img-centered" alt="{{ progress.alt }}">
              {% endif %}

              {% if progress.description %}
                <p>{{ progress.description }}</p>
              {% endif %}

              {% if progress.progress-id == 0 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>Have a look at what we achieved in the <a href="{{ progress.link }}" target="_blank">past</a>.</p>
              {% endif %}

              {% if progress.content.size > 1 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ progress.content }}</p>
              {% endif %}

              {% if progress.author %}
              <hr class="star-primary">
              <ul class="list-inline item-details">
                {% if progress.author %}
                  <li>Author:
                    <strong>{{ progress.author }}</strong>
                  </li>
                {% endif %}
                {% if progress.date_ %}
                  <li>Date:
                    <strong>{{ progress.date_ }}</strong>
                  </li>
                {% endif %}
              </ul>
              {% else %}
                <div style="line-height:20px"><br></div>
              {% endif %}

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
