<!-- Resource Modals -->
{% for resource in site.resources %}
  <div class="portfolio-modal modal fade" id="{{ resource.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 style="font-size:2.25em">{{ resource.title }}</h2>
              <hr class="star-primary">
              {% if resource.link %}
                <a href="{{ resource.link }}" target="_blank">
                  <img src="/img/resources/{{ resource.img }}" class="img-responsive img-centered" alt="{{ resource.alt }}">
                </a>
              {% else %}
                {% if resource.img-modal%}
                  <img src="/img/resources/{{ resource.img-modal }}" class="img-responsive img-centered" alt="{{ resource.alt }}">
                {% else%}
                  <img src="/img/resources/{{ resource.img }}" class="img-responsive img-centered" alt="{{ resource.alt }}">
                {% endif %}
              {% endif %}
              {% if resource.description %}
                <p>{{ resource.description }}</p>
              {% endif %}

              {% if resource.content.size > 1 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ resource.content }}</p>
              {% endif %}

              {% if resource.author %}
              <hr class="star-primary">
              <ul class="list-inline item-details">
                {% if resource.author %}
                  <li>Author:
                    <strong>{{ resource.author }}</strong>
                  </li>
                {% endif %}
              </ul>
              {% endif %}

              {% if resource.content.size == 1 %}
                {% unless resource.author %}
                  <div style="line-height:20px"><br></div>
                {% endunless %}
              {% endif %}

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
