<!-- Cooperations Modals -->
{% for cooperation in site.cooperation %}
  <div class="portfolio-modal modal fade" id="{{ cooperation.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 style="font-size:2.25em">{{ cooperation.title }}</h2>
              <hr class="star-primary">
              {% if cooperation.img %}
                <img src="/img/cooperations/{{ cooperation.img }}" class="img-responsive img-centered" alt="{{ cooperation.alt }}">
              {% endif %}

              {% if cooperation.description %}
                <p>{{ cooperation.description }}</p>
              {% endif %}

              {% if cooperation.cooperation-id == 0 and  cooperation.modal-id == 'cooperations_archive' %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>Find all our past cooperations <a href="{{ cooperation.link }}" target="_blank">here</a>.</p>
              {% endif %}

              {% if cooperation.content.size > 1 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ cooperation.content }}</p>
              {% endif %}

              {% if cooperation.date_ or cooperation.time or cooperation.location %}
                <hr class="star-primary">
                <ul class="list-inline item-details">
                  {% if cooperation.date_ %}
                    <li>Date:
                      <strong>{{ cooperation.date_ }}</strong>
                    </li>
                  {% endif %}
                  {% if cooperation.time %}
                    <li>Time:
                      <strong>{{ cooperation.time }}</strong>
                    </li>
                  {% endif %}
                  {% if cooperation.location %}
                    <li>Location:
                      <strong>{{ cooperation.location }}</strong>
                    </li>
                  {% endif %}
                </ul>
              {% else %}
                <div style="line-height:20px"><br></div>
              {% endif %}

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
