<!-- Team Modals -->
{% for team in site.teams %}
  <div class="portfolio-modal modal fade" id="{{ team.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
      <div class="close-modal" data-dismiss="modal">
        <div class="lr">
          <div class="rl"></div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-lg-offset-2">
            <div class="modal-body">
              <h2 style="font-size:2.25em">{{ team.title }}</h2>

              {% if team.about %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ team.about }}</p>
              {% endif %}
              <br>
              <img src="/img/team/{{ team.name }}" class="img-responsive img-centered" alt="{{ team.alt }}">
              {% if team.description %}
                <p>{{ team.description }}</p>
              {% endif %}

              {% if team.content.size == 1 %}
                <div style="line-height:20px"><br></div>
              {% endif %}

              {% if team.content.size > 1 %}
                <div style="line-height:1px"><br></div>
                <hr class="star-primary">
                <p>{{ team.content }}</p>
              {% endif %}

              <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endfor %}
