<!-- Progress Grid Section -->
<section id="portfolio" class="success">
  <div class="container">
    <div class="col-lg-8 col-lg-offset-2 text-center" onclick="toggle_past_semesters()">
      <a class="btn btn-lg btn-outline">Past semesters</a>
      <div style="line-height:30px"><br></div>
    </div>

    <div class="row" id="toggler_past_semesters" style="display:none" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.progress | sort: 'progress-id') %}
          {% for progress in sorted_posts reversed %}
            {% unless progress.progress-id == 0 %}
              <div class="col-sm-4 portfolio-item">
                <a href="#{{ progress.modal-id }}" class="portfolio-link" data-toggle="modal">
                  <div class="caption">
                    <div class="caption-content">
                      <i class="fa fa-search-plus fa-2x"></i>
                    </div>
                  </div>
                  <img src="/img/progress/{{ progress.img }}" class="img-responsive" alt="{{ progress.alt }}">
                </a>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
    </div>
  </div>
</section>
