<!-- Resources Grid Section -->

<!-- Maps section -->
<section id="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h3>Sustainable Zurich Maps</h3>
        <hr class="star-primary">
        <div style="line-height:10px"><br></div>
      </div>
    </div>
    <div class="row">
      {% assign sorted_posts = (site.resources | sort: 'resource-id') %}
      {% for resource in sorted_posts %}
        {% if resource.map %}
          <div class="col-sm-4 portfolio-item">
            <a href="#{{ resource.modal-id }}" class="portfolio-link" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-2x"></i>
                </div>
              </div>
              <img src="/img/resources/{{ resource.img }}" class="img-responsive" alt="{{ resource.alt }}">
            </a>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
</section>

<!-- News and Knowledge section -->
<section class="success" id="portfolio" style="padding-top:60px; padding-bottom:60px">
  <div class="container">

    <div class="col-lg-8 col-lg-offset-2 text-center" onclick="toggle_news()">
      <a class="btn btn-lg btn-outline">News & Knowledge</a>
      <div style="line-height:30px"><br></div>
    </div>

    <div class="row" id="toggler_news" style="display:none" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.resources | sort: 'resource-id') %}
          {% for resource in sorted_posts %}
            {% if resource.news %}

            <a href="#{{ resource.modal-id }}" data-toggle="modal" style="color:white">
              <p style="text-align:center">{{ resource.title }}</p>
            </a>

            <!-- <div class="col-sm-6 portfolio-item">
              <a href="#{{ resource.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-2x"></i>
                  </div>
                </div>
                <img src="/img/resources/{{ resource.img }}" class="img-responsive" alt="{{ resource.alt }}">
              </a>
            </div> -->

            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</section>

<!-- Sustainability at ETH section -->
<section id="portfolio" style="padding-top:60px; padding-bottom:60px">
  <div class="container">

    <div class="col-lg-8 col-lg-offset-2 text-center" onclick="toggle_sust_eth()">
      <a class="btn btn-lg btn-green">Sustainability at ETH</a>
      <div style="line-height:30px"><br></div>
    </div>

    <div class="row" id="toggler_sust_eth" style="display:none" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.resources | sort: 'resource-id') %}
          {% for resource in sorted_posts %}
            {% if resource.sust_eth %}

            <a href="#{{ resource.modal-id }}" data-toggle="modal" style="color:green">
              <p style="text-align:center">{{ resource.title }}</p>
            </a>

            <!-- <div class="col-sm-6 portfolio-item">
              <a href="#{{ resource.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-2x"></i>
                  </div>
                </div>
                <img src="/img/resources/{{ resource.img }}" class="img-responsive" alt="{{ resource.alt }}">
              </a>
            </div> -->

            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</section>

<!-- Daily Life section -->
<section class="success" id="portfolio" style="padding-top:60px; padding-bottom:60px">
  <div class="container">

    <div class="col-lg-8 col-lg-offset-2 text-center" onclick="toggle_daily()">
      <a class="btn btn-lg btn-outline">Daily Life</a>
      <div style="line-height:30px"><br></div>
    </div>

    <div class="row" id="toggler_daily" style="display:none" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.resources | sort: 'resource-id') %}
          {% for resource in sorted_posts %}
            {% if resource.daily %}

            <a href="#{{ resource.modal-id }}" data-toggle="modal" style="color:white">
              <p style="text-align:center">{{ resource.title }}</p>
            </a>

            <!-- <div class="col-sm-6 portfolio-item">
              <a href="#{{ resource.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-2x"></i>
                  </div>
                </div>
                <img src="/img/resources/{{ resource.img }}" class="img-responsive" alt="{{ resource.alt }}">
              </a>
            </div> -->

            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</section>

<!-- Free Time section -->
<section id="portfolio" style="padding-top:60px; padding-bottom:60px">
  <div class="container">

    <div class="col-lg-8 col-lg-offset-2 text-center" onclick="toggle_freetime()">
      <a class="btn btn-lg btn-green">Free Time</a>
      <div style="line-height:30px"><br></div>
    </div>

    <div class="row" id="toggler_freetime" style="display:none" class="text-center">
      <div style="line-height:30px"><br></div>
        <div class="col-sm-12">
          {% assign sorted_posts = (site.resources | sort: 'resource-id') %}
          {% for resource in sorted_posts %}
            {% if resource.freetime %}
            <div class="col-sm-6 portfolio-item">
              <a href="#{{ resource.modal-id }}" class="portfolio-link" data-toggle="modal">
                <div class="caption">
                  <div class="caption-content">
                    <i class="fa fa-search-plus fa-2x"></i>
                  </div>
                </div>
                <img src="/img/resources/{{ resource.img }}" class="img-responsive" alt="{{ resource.alt }}">
              </a>
            </div>
            {% endif %}
          {% endfor %}
        </div>
    </div>
  </div>
</section>
