<header>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="intro-text">
          <span class="name">{{ page.title }}</span>
          <hr class="star-light">
          <span class="skills">{{ page.description }}</span>
        </div>
      </div>
    </div>
  </div>
</header>
