<!-- Team Grid Section -->
<section>
  <div class="container">
    <div class="row">
      {% assign sorted_posts = (site.teams | sort: 'team-id') %}
      {% for team in sorted_posts %}
        <div class="col-sm-4 circle-item">
          <a href="#{{ team.modal-id }}" class="circle-link" data-toggle="modal">
            <div class="caption">
              <div class="caption-content">
                <i class="fa fa-search-plus fa-2x"></i>
              </div>
            </div>
            <img src="/img/team/{{ team.img }}" style="object-fit:cover; border-radius:{{ site.radius }}; border: solid 3px #{{ site.color.secondary }}" class="img-responsive" alt="{{ team.alt }}">
          </a>
        </div>
      {% endfor %}
    </div>
  </div>
</section>
