<!-- Calendar Section -->
<section id="calendar" style="padding-top:60px; padding-bottom:60px">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Calendar</h2>
        <hr class="star-primary">
      </div>
    </div>
    <div class="cal">
      <div class="cal__header">
        <button class="btn btn-action btn-link btn-lg" data-calendar-toggle="previous"><svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M20,11V13H8L13.5,18.5L12.08,19.92L4.16,12L12.08,4.08L13.5,5.5L8,11H20Z"></path></svg></button>
        <div class="cal__header__label" data-calendar-label="month">
          September 2020
        </div>
        <button class="btn btn-action btn-link btn-lg" data-calendar-toggle="next"> <svg height="24" version="1.1" viewbox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg">
        <path d="M4,11V13H16L10.5,18.5L11.92,19.92L19.84,12L11.92,4.08L10.5,5.5L16,11H4Z"></path></svg></button>
      </div>
      <div class="cal__week">
        <span>Mon</span> <span>Tue</span><span>Wed</span> <span>Thu</span> <span>Fri</span> <span>Sat</span> <span>Sun</span>
      </div>
      <div class="cal__body" data-calendar-area="month"></div>
    </div>


    <br>
    <center><span data-calendar-label="picked"></span></center>

    <script>
      window.addEventListener('load', function () {

        {% assign sorted_posts = (site.events | sort: 'event-id') %}
        {% for event in sorted_posts %}
          {% unless event.event-id == 0 %}

            var event_date = new Date();
            var date = "{{ event.date_ }}";
            var day = date.substring(0, 2);
            var day = parseInt(day, 10);
            var month = date.substring(3, 5);
            var month = parseInt(month, 10) - 1; // months are from 0 to 11
            var year = date.substring(6, 10);
            var year = parseInt(year, 10);

            var title = "{{ event.title }}";

            var time = "T.B.A." // in case no time is given
            {% if event.time %}
              var time = "{{ event.time }}";
            {% endif %}

            var location = "T.B.A." // in case no location is given
            {% if event.location %}
              var location = "{{ event.location }}";
            {% endif %}

            var link = "/events/#{{ event.modal-id}}";

            var event_details = [title, time, location, link];

            vanillacalendar.eventDates.push(new Date(event_date.setFullYear(year, month, day)));
            vanillacalendar.eventDetails.push(event_details);

          {% endunless %}
        {% endfor %}

        vanillacalendar.init();
      })
    </script>

  </div>
</section>
