.cal__header button {
    background: 0 0;
    border: 0;
    outline: none;
    color: inherit;
    font: inherit;
    line-height: normal;
    overflow: visible;
    padding: 0;
    -webkit-appearance: button;
    -moz-user-select: none;
    -ms-user-select: none;
    cursor:pointer
}

.cal button:active {
    border-radius: 3px;
    box-shadow:0 0 0 2px rgba(10, 146, 151, .1)
}

.cal {
    width: 100%;
    max-width: 42rem;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 4px 22px 0 rgba(0, 0, 0, .05);
    border:solid 1px #e7e9ed
}

.cal__header {
    display: flex;
    padding: 1.2rem 1.4rem;
    align-items:center
}

.cal__header svg {
    fill:#0a9297
}

.cal__header__label {
    width: 100%;
    text-align: center;
    font-weight:700
}

.cal__week {
    display: flex;
    flex-wrap: wrap;
    background-color:#e7e9ed
}

.cal__week span {
    font-size: 1.2rem;
    max-width: 14.28%;
    padding: 1.2rem 1.4rem;
    flex: 0 0 14.28%;
    flex-direction: column;
    text-transform: uppercase;
    font-weight: 700;
    text-align:center
}

.cal__body {
    display: flex;
    flex-wrap: wrap;
    background-color:#fafafa
}

.cal__date {
    background-color: #fff;
    display: flex;
    max-width: 14.28%;
    flex: 0 0 14.28%;
    flex-direction: column;
    align-items: center;
    padding: 1.2rem 0;
    border-radius:4px
}

.cal__date--active:hover {
    cursor:pointer
}

.cal__date--today {
    background-color: #0a9297;
    color:#fff
}

.cal__date--event {
    background-color: #e3ba6d;
    color:#333
}

.cal__date--selected {
    background-color: #e7e9ed;
    color:#333
}

.cal__date--event-selected {
    background-color: #faa56b;
    color:#333
}

.cal__date--disabled {
    opacity:.5
}

.cal__date--disabled:hover {
    cursor: not-allowed
}
